.left {
    float: left;
    width: calc(50% - 6em);
    padding: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

input[type='text'] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}