<div class="container">
    <div class="heading" *ngIf="isEdit != true">Add Product</div>
    <div class="heading" *ngIf="isEdit == true">Edit Product</div>

    <form [formGroup]="linksForm" (ngSubmit)="onSubmit(linksForm)">
      <div class="input-container">
        <input type="text"  formControlName="name" placeholder="Name" class="full-width">
      </div>
      <div class="error-msg" *ngIf="linksForm.controls.name.invalid && (linksForm.controls.name.dirty || linksForm.controls.name.touched)" class="text-danger">
        <span class="error-msg" *ngIf="linksForm.controls.name.errors.required">Name is required!</span>
      </div>
      <div class="input-container">
        <textarea formControlName="description" placeholder="Description" class="full-width"></textarea>
      </div>
      <div class="error-msg" *ngIf="linksForm.controls.description.invalid && (linksForm.controls.description.dirty || linksForm.controls.description.touched)" class="text-danger">
        <span class="error-msg" *ngIf="linksForm.controls.description.errors.required">Description is required!</span>
      </div>
      <div class="input-container">
        <input type="text"  formControlName="price" placeholder="Price" class="full-width">
      </div>
      <div class="error-msg" *ngIf="linksForm.controls.price.invalid && (linksForm.controls.price.dirty || linksForm.controls.price.touched)" class="text-danger">
        <span class="error-msg" *ngIf="linksForm.controls.price.errors.required">Price is required!</span>
      </div>
      <div class="input-container">
        <input type="text"  formControlName="quantity" placeholder="Quantity" class="full-width">
      </div>
      <div class="error-msg" *ngIf="linksForm.controls.quantity.invalid && (linksForm.controls.quantity.dirty || linksForm.controls.quantity.touched)" class="text-danger">
        <span class="error-msg" *ngIf="linksForm.controls.quantity.errors.required">Quantity is required!</span>
      </div>
      <div class="input-container" *ngIf="isEdit != true">
        <button type="submit" [disabled]="linksForm.invalid">
          Save
        </button>
      </div>
      <div class="input-container" *ngIf="isEdit == true">
        <button type="Button" [disabled]="linksForm.invalid" (click)="editData()">
          Update
        </button>
      </div>
    </form>
</div>
  