

<div class="navbar">
  <div class="tooltip">
    <span class="tooltiptext">Switch Theme</span><label class="switch"><input type="checkbox" id="darkTheme" [formControl]="darkTheme"> <span class="slider round"></span></label>
  </div>
  <a routerLink="./home" routerLinkActive="active">Home</a>
  <a routerLink="./crud-oprations" routerLinkActive="active">Crud Operations</a>
  <div class="dropdown">
    <button class="dropbtn">CSS 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a routerLink="./flex-Layout" routerLinkActive="active">Flexbox Layout</a>
      <a routerLink="./grid-layout" routerLinkActive="active">Grid Layout</a>
    </div>
  </div> 
  <div class="dropdown">
      <button class="dropbtn">NgRx 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="./product-list" routerLinkActive="active">Product List</a>
        <a routerLink="./add-product" routerLinkActive="active">Add Product</a>
      </div>
  </div> 
  <a class="align-right" (click)="logout()">Logout</a>
</div>
<router-outlet></router-outlet> 