<div class="container-1">
    <div class="box-1">
        <h3>Box One</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, quia natus quisquam in culpa cupiditate facere libero itaque aliquam aperiam rerum temporibus? Nihil, voluptates omnis provident reiciendis ut quas facere perspiciatis vitae odio tempore sint quidem totam soluta qui nostrum tenetur suscipit amet, libero, reprehenderit eligendi labore. Odio voluptatem, aperiam fugit reiciendis optio aliquid temporibus error est harum laudantium similique at aspernatur, nostrum commodi. Consequuntur magni totam, nam veritatis possimus pariatur, dolorum nobis voluptatibus libero quas cum est blanditiis doloribus? Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="box-2">
        <h3>Box Two</h3>
        <p>Lorem Ipsum is simply dummy text of the printing. </p>
    </div>
    <div class="box-3">
        <h3>Box Three</h3>
        <p>Lorem Ipsum is simply dummy text of the printing. </p>
    </div>
</div>
<div class="container-2">
    <div class="container-2-box">
        <h3>Box Four</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="container-2-box">
        <h3>Box Five</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="container-2-box">
        <h3>Box Six</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
</div>

<div class="container-3">
    <div class="container-3-box">
        <h3>Box Seven</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="container-3-box">
        <h3>Box Eight</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="container-3-box">
        <h3>Box Nine</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="container-3-box">
        <h3>Box Ten</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="container-3-box">
        <h3>Box Eleven</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
    <div class="container-3-box">
        <h3>Box Twevle</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>
</div>